* {
    font-family: "IBM Plex Mono", "Segoe UI", sans-serif;
    margin: 0;
    box-sizing: border-box;
    color: white;
}

:root {
    font-size: 16px;
    --back: rgb(23, 27, 32);
    --fore: rgb(54, 63, 75);
    scroll-behavior: smooth;
}

body {
    background: var(--back);
}

.title {
    font-size: 3rem;
    padding: 1rem;
    text-transform: uppercase;
    text-align: center;
    font-weight: normal;
    background: cornflowerblue;
    border-radius: 10px 10px 0 0;
}

.nuxt-content * {
    margin: 0.25rem 0;
}

.nuxt-content h2 {
    margin: 1rem 0;
    font-size: 2.5rem;
}

section {
    padding: 2rem;
}

section > * {
    max-width: 850px;
    margin: 0 auto;
}

.sheet {
    background: rgb(54, 63, 75);
    border-radius: 0 0 10px 10px;
    box-shadow: rgb(60 64 67 / 15%) 0px 3px 3px 1px !important;
    padding: 2rem;
}

a:hover,
a:active,
a:focus {
    color: cornflowerblue !important;
}